llama-cloud==0.1.35
llama-index==0.13.1
llama-index-agent-openai==0.4.2
llama-index-cli==0.5.0
llama-index-core==0.12.52.post1
llama-index-embeddings-gemini==0.4.0
llama-index-embeddings-openai==0.5.0
llama-index-indices-managed-llama-cloud==0.9.1
llama-index-instrumentation==0.4.0
llama-index-legacy==0.9.48.post4
llama-index-llms-gemini==0.6.0
llama-index-llms-mistralai==0.4.0
llama-index-llms-ollama==0.5.2
llama-index-llms-openai==0.5.3
llama-index-multi-modal-llms-gemini==0.6.0
llama-index-multi-modal-llms-mistralai==0.4.0
llama-index-multi-modal-llms-ollama==0.4.0
llama-index-multi-modal-llms-openai==0.4.2
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.5.1
llama-index-readers-llama-parse==0.5.0
llama-index-vector-stores-qdrant==0.7.1
llama-index-workflows==1.3.0
llama-parse==0.5.19

streamlit
pyyaml
pandas
numpy
scipy
tiktoken
typing
json
opencv-python
